/******************* HEADER     ********************/
.headerPrincipal{
    background-color: var(--color-patito);
    border-radius: 0 0 20px 20px;
    position: sticky;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.headerLogo{
    width: 150px;
}

.container-user{
    display: flex;
    align-items: center;
}
.iconBellHeader{
    width: 50px;
}

.iconUserPhotoHeader{
    width: 60px;
}

/******************* CONTENEDOR PARA PUBLICAR   ********************/
.container-wall {
    background-color: var(--color-patito);
    border: 1px solid #FE9801;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
    font-family: "Julius Sans One", sans-serif;
}

.form-post {
    width: 90%;
    border: 1px solid var(--color-primary);
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
    
}

.imgUser {
    width: 75px;
    margin: 0 auto;
}

.containerCreatePost{
    font-family: "Inder", sans-serif;
    grid-column: span 2;
    border: none;
    resize: none;
    padding: 1rem;
    height: 100px;
}

.containerCreatePost:focus{
    outline: none;
}

.divContainerShare{
    display: flex;
    gap: 0.5rem;
    grid-column: span 2;

}
.share-icons {
    width: 35px;

}

.btn-share{
     /* grid-column: 2 / 4; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    width:  60%;
    height: 30px;
    border: none;
    margin-left: 60px;
    padding: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/******************* FOOTER     ********************/
.footerHome{
    background-color: var(--color-patito);
    border-radius: 10px 10px 0 0;
    position: absolute;
    height: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    
    
}

.container-menu{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.linksIcons{
    margin: 5px;
}

.iconFooter{
    width: 100%
}

