/******************* HEADER     ********************/
section{
    min-height: 100vh;
}
.headerPrincipal{
    background-color: var(--color-patito);
    border-radius: 0 0 20px 20px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.headerLogo{
    width: 150px;
}

.container-user{
    display: flex;
    align-items: center;
}
.iconBellHeader{
    width: 50px;
}

.iconUserPhotoHeader{
    width: 60px;
}

/******************* CONTENEDOR PARA PUBLICAR   ********************/
.container-wall {
    background-color: var(--color-patito);
    border: 1px solid #FE9801;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    margin-top: 10px;
    font-family: "Julius Sans One", sans-serif;
}

.form-post {
    width: 90%;
    border: 2px solid var(--color-primary);
    background-color: white;
    padding: 1rem;
    border-radius: 15px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-template-rows: 1fr auto;
    gap: 10px;
    
}

.imgUser {
    width: 75px;
    margin: 0 auto;
}

.containerCreatePost{
    font-family: "Inder", sans-serif;
    grid-column: span 2;
    border: none;
    resize: none;
    padding: 1rem;
    height: 100px;
}

.containerCreatePost:focus{
    outline: none;
}

.divContainerShare{
    display: flex;
    gap: 0.5rem;
    grid-column: span 2;

}
.share-icons {
    width: 35px;

}

.btn-share{
     /* grid-column: 2 / 4; */
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary);
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    width:  60%;
    height: 30px;
    border: none;
    margin-left: 60px;
    padding: 10px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


/******************* DIV CONTENEDOR DE PUBLICACIONES    ********************/
#post-container{
    margin: 1rem;
    *padding: 1rem;
    *background-color: blueviolet;
}
.divContainerPostElement{
    display: grid;
    columns: auto auto auto;
    background-color: var(--color-third-verdeazul);
    padding: 40px;
    margin: 1rem;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.postElement{
    height: 150px;
    background-color: rgb(255, 255, 255);
    font-family: "Inder", sans-serif;
    *margin: 1rem;
    padding: 1rem;
    border-radius: 10px;
}

.imgUserCopia{
    margin-bottom:5px;
    width: 30px;
}


/**********************  BONTON DE EDITAR Y ELIMINAR ****************************************/
.btnIconOption{
    background: transparent;
    border: none;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    position: absolute;
    left: 50%;
    top:20%;
}

.modalPopupOption{
    font-family: "Julius Sans One", sans-serif;
    display: none;
    background-color: var(--color-patito);
    position: fixed;
    width: 230px;
    height: 150px;
    border: 2px solid var(--color-primary);
    border-radius: 30px;
    left: 50%;
    margin-left: -70px;
    top: 22%;
    margin-top: -50px;
    list-style-type: none;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.ulModal{
    display: grid;
    align-items: center;
    justify-items: start;
    justify-content: space-around;
    align-content: space-around;
    border: 2px solid var(--color-primary);
    margin:20px;
    height: 75%;
    list-style-type: none;
    border-radius: 20px;
}

.liOption{
    justify-content: space-evenly;
    text-align: center;
    display: flex;
    align-content: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

/* .li2{
    border-top: 1px solid rgba(254, 152, 1, 1);;
    padding-top: 10px;
    width: 100%;
} */

.optionIcon{
    width: 40px;
    margin-right: 40px;
}
.closeModal{
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 25px;
    border: 2px solid var(--color-primary);
    text-align: center;
    right: 5px;
    top: 5px;
    margin: 2.5px;
    cursor: pointer;
  }

  .imgUserCopia2 {
    width: 30px;
    margin: 10px;
  }

  .coment{
    margin: 10px;
    padding: 10px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 55%;
    height: 30px;
    border: none;
  }

.iconOptionsPost{
    width: 40px;
}

.iconCarrot{
    width: 50px;
}

.iconPost{
    width: 35px;
}







/******************* FOOTER     ********************/
.footerHome{
    background-color: var(--color-patito);
    border-radius: 10px 10px 0 0;
    position: sticky;
    height: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
}

.container-menu{
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
}

.linksIcons{
    margin: 5px;
}

#btnIconAdd{
    background: transparent;
    border: none;
}

.iconFooter{
    width: 100%
}

