/* #root{
    margin: 0;
} */

.headerPrincipal{
    
    background-color: var(--color-patito);
    border-radius: 0 0 20px 20px;
    position: sticky;
    
}

.contenedor-header{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.headerLogo{
    width: 150px;
}

.container-user{
    display: flex;
    align-items: center;
}
.iconBellHeader{
    width: 50px;
}

.iconUserPhotoHeader{
    width: 60px;
}






/* .footerHome{
    bottom: 0;
} */

.footerHome{
    background-color: var(--color-patito);
    border-radius: 10px 10px 0 0;
    position: absolute;
    height: 10%;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-menu{
    display: flex;
    justify-content: center;
}

.iconFooter{
    width: 60px; /* Ajusta el tamaño de tus iconos según tus necesidades */
    height: 60px;
    margin: 10px;
}
