.section-wellcome{
    background: url(../../public/image/fondo-principal-grande.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

.header-wellcome{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-wellcome{
    margin-top: 15%;
    width: 65%;
    text-align: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.main-wallcome{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title-greetings{
    font-size: 27px;
    text-align: center;
    margin: 1.5rem;
    margin-bottom: 1.5rem;
    font-family:"Julius Sans One", sans-serif;
    color: rgba(5, 127, 135, 1);
    animation: enter 0.8s ease-in-out forwards;
}

.heartBeat{
    display: flex;
    position: relative;
    justify-content: center;
    width: 30%;
    margin-left: 35%;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.yogaGirl{
    display: flex;
    align-items: center;
    position: relative;
    margin-top: -60px;
    width: 102%;
    z-index: 10;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.textWellcome{
    display: flex;
    position: relative;
    width: 90%;
    margin: 20px;
    margin-top: -120px;
}

.btnVamos{
    text-align: center;
    background-color: var(--color-primary);
    color: white;
    font-size: 1.3rem;
    border-radius: 23px;
    width: 45%;
    height: 59px;
    border: none;
    margin-left: 165px;
    margin-top: -20px;
    font-family: "Julius Sans One", sans-serif;
    font-weight: 800;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

}